<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Crunchy Owl - a dawning of individual design</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel='canonical' href='http://crunchyowl.com/' />
  <meta name="twitter:card" value="Crunchy Owl Design Studio - a dawning of individual design">
  <meta property="og:title" content="Crunchy Owl Design Studio - a dawning of individual design" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://crunchyowl.com/" />
  <meta property="og:description" content="Crunchy Owl delivers web development, ux, design, performance optimization, and content strategy solutions to the Northeast Wisconsin area and beyond. Come to us for your needs in Manitowoc, Sheboygan, Green Bay or the Fox Cities" />

  <link rel="stylesheet" href="/css/main.css"></link


</head>

<body>

  <header class="masthead">
    <h1><span class="display--heavy">CRUNCHY</span> <span class="display--soft">Owl</span></h1>
    <h4 class="motto">a dawning of individual web design</h4>
  </header>

  <img src="/img/owl-small.jpg" alt="" />

  <div role="main">
  {{content}}
  </div>
<script>
WebFontConfig = {
  google: {
    families: ['Passion One', 'Tangerine']
  },
};

(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();

</script>

</body>
